@font-face {
  font-family: "Satoshi";
  src: url("/font/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/font/Satoshi-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/font/Satoshi-Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi bg-[#F5F5F5];
  }
  h2 {
    @apply text-large;
  }
  h3 {
    @apply font-medium;
  }
}
